:local(.Container) {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

:local(.ColorPool) {
    position: relative;
    width: 55rem;
    height: 20rem;
    top: 50%;
    left: 50%;
    background: none;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow:
        inset 0 7em 10em -5em rgba(255,255,255,0.4),
        0 0.3em 0.5em -0.2em rgba(100,100,100,0.6),
        0 1em 2em -0.75em rgba(100,100,100,0.55),
        0 1em 3em -0.5em rgba(100,100,100,0.3),
        0 3em 3em -0.25em rgba(100,100,100,0.1);
}

:local(.LeftBox) {
    position: absolute;
    width: 60%;
    height: 100%;
    left: -5rem;
    background: #C71A1B;
    transform: skew(25deg);
}

:local(.RightBox) {
    position: absolute;
    width: 60%;
    height: 100%;
    right: -5rem;
    background: #D7BD8C;
    transform: skew(25deg);
}

:local(.Border) {
    position: absolute;
    width: 55rem;
    height: 20rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: 1px inset rgba(204, 204, 204, 0.15);
}