:local(.DropDownWrapper) {
    position: absolute;
    bottom: 8.6rem;
    left: 33.5%;
    width: 5rem;
    padding: 5px 15px;
}

:local(.DropDown) {
    appearance: none;
    width: 80px;
    padding: 6px 18px 4px 10px;
    text-align: center;
    border-radius: 2px;
    background-color: rgb(116, 116, 117);
    border: none;
    color: #FFFBEF;
    font-family: 'Tajawal', sans-serif;
    opacity: 0.8;
    outline: none;
}

:local(.Arrow) {
    color: #FFFBEF;
    position: absolute;
    left: 69%;
    top: 9px;
    color: #FFFBEF;
    font-family: 'Tajawal', sans-serif;
    opacity: 0.8;
    margin: 0 auto;
    width: 20px;
    height: 15px;
    text-align: center;
    transform: rotate(90deg);
    pointer-events: none;
    border-bottom: 1px solid rgba(22, 22, 22, 0.4);
}