:local(.InfoBox) {
    position: relative;
    width: 27%;
    height: 100%;
    background: transparent;
    transition: all 0.2s ease-in-out;
    text-align: center;
    left: 28rem;
    top: 5%;
    line-height: 1.6;
    color: #FFFBEF;
    text-shadow: 2px 2px 5px rgba(68, 68, 68, 0.6);
    font-family: 'Tajawal', sans-serif;
    z-index: 10;
}

:local(.Hidden) {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    list-style-type: none;
}