:local(.Container) {
    position: absolute;
    width: 37.65%;
    height: 5rem;
    margin: 0 auto;
    top: 84%;
    left: 50%;
    background: linear-gradient(to right, #C71A1B, #D7BD8C);
    border-radius: 100px;
    transform: translate(-50%, -50%);
    box-shadow:
        0 7em 10em -5em rgba(255,255,255,0.4),
        0 0.3em 0.5em -0.2em rgba(100,100,100,0.6),
        0 1em 2em -0.75em rgba(100,100,100,0.55),
        0 1em 3em -0.5em rgba(100,100,100,0.3),
        0 3em 3em -0.25em rgba(100,100,100,0.1);
    border: 1px inset rgba(204, 204, 204, 0.15);
    transition: all 0.8s ease;
}

:local(.GradientPool) {
    position: relative;
    top: 54%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFBEF;
    text-shadow: 2px 2px 5px rgba(68, 68, 68, 0.6);
    font-family: 'Tajawal', sans-serif;
    font-size: 1.4rem;
    opacity: 0.8;
    visibility: visible;
    transition: 0.3s ease-in-out;
}

:local(.Hidden) {
    opacity: 0;
    transition: 0.3s ease-in-out;
    visibility: hidden;
}