:local(.Container) {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    top: 80.1%;
    left: 50%;
    background: linear-gradient(to right, #C71A1B, #D7BD8C);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
        0 5em 8em -5em rgba(255,255,255,0.2),
        0 0.3em 0.5em -0.8em rgba(100,100,100,0.8),
        0 1em 2em -1.2em rgba(100,100,100,0.6),
        0 1em 3em -1em rgba(100,100,100,0.4),
        0 3em 3em -0.7em rgba(100,100,100,0.2);
    transition: all 0.8s ease;
    z-index: 0;
}

:local(.GradientPool) {
    position: relative;
    top: 54%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFBEF;
    text-shadow: 2px 2px 5px rgba(68, 68, 68, 0.6);
    font-family: 'Tajawal', sans-serif;
    font-size: 1.4rem;
    opacity: 0.8;
    visibility: visible;
    transition: 0.3s ease-in-out;
}

:local(.Hidden) {
    opacity: 0;
    transition: 0.3s ease-in-out;
    visibility: hidden;
}

:local(.Stretched) {
    width: 37.65%;
    height: 6rem;
    border-radius: 100px;
    transition: 0.2s;
}