:local(.InfoBox) {
    position: relative;
    width: 100%;
    height: 100%;
    top: -3rem;
    background: transparent;
    transition: all 0.3s ease-in-out;
    text-align: center;
    right: 13rem;
    top: 5%;
    line-height: 1.6;
    color: #FFFBEF;
    text-shadow: 2px 2px 5px rgba(68, 68, 68, 0.6);
    font-family: 'Tajawal', sans-serif;
}

:local(.Hidden) {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    list-style-type: none;
}